<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!--- Sweet Alert --->
    <script src="js/sweetalert.min.js"></script>

    <!--- Firebase -->
    <script type="module" src="js/firebase.js"></script>

  </head>
  <body>
    
    {{>navbar }}
    <div class="container m-4">
      {{{ body }}}  
    </div>
    {{>ModalRegistrarme }}
    {{>ModalEntrar }}
    
    <!-- Bootstrap JavaScript Libraries -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>